#about_us
{
    text-align: center; 
    font-family: 'Montserrat'; 
    font-size: 50px; 
    font-weight: bold;
    margin-top: 90px;
    margin-bottom: 50px;
}
#about_us_info
{
    text-align: center; 
    font-family: 'Montserrat'; 
    font-weight: bold;
    font-size: 20px; 
    margin-top: 50px;
    margin-bottom: 30px; 
    margin-left: 200px;
    margin-right: 200px;
}
#about_logo
{
    display: block;
    margin-top: 65px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    animation-name: image-anim;
    animation-duration: 5s;
}
.about_us_main
{
    width: 100%;
    height: 740px;
}