#map 
{
    height: 400px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#contacts_head
{
    text-align: center; 
    font-family: 'Montserrat'; 
    font-size: 75px; 
    font-weight: bold;
    margin-top: 90px;
    margin-bottom: 50px;
}
#contacts_location
{
    text-align: center; 
    font-family: 'Montserrat'; 
    font-size: 30px; 
    margin-top: 50px;
    margin-bottom: 30px;
}
#contacts_location_info
{
    text-align: center; 
    font-family: 'Montserrat'; 
    font-weight: bold;
    font-size: 20px; 
    margin-top: 50px;
    margin-bottom: 30px; 
    margin-left: 100px;
    margin-right: 100px;
}
#contacts_phone
{
    text-align: center; 
    font-family: 'Montserrat'; 
    font-weight: bolder;
    font-size: 30px; 
    margin-top: 70px;
    margin-bottom: 30px;
}
#contacts_email
{
    text-align: center; 
    font-family: 'Montserrat'; 
    font-weight: bolder;
    font-size: 30px; 
    margin-top: 25px;
    margin-bottom: 30px;
}